@import "tailwindcss";

body {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}

.perspective-1000 {
  perspective: 1000px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}